// Place all the styles related to the common controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login_box{
    width : 100%;
    padding : 20px;
    display :flex;
    flex-direction : row;
    justify-content : center;
    
}